{% extends 'base.html' %}
{% block content %}

<h1>Types of Pastas</h1>

{% for pasta in pastas %}
<a href="{% url 'detail' pasta.id %}">
<div class="card">
    <div class="card-content black-text">
        <span class="card-title">{{ pasta.name }}</span>
        <p><strong>Type:</strong> {{ pasta.get_type_display }}</p>
        <p><strong>Cook Time:</strong> {{ pasta.cook_time }} mins</p>
    </div>
</div>
</a>
{% endfor %}

{% if pastas %}
<p>Total Pastas:
{{ pastas|length }}</p>
{% else %}
<p>There are no pastas yet.</p>
{% endif %}

{% endblock %}